.leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    background-color: var(--accent-color);
    padding: 20px;
    flex-shrink: 0;
}

.leftPanel h1 {
    text-align: center;
}

.panelContent {
    margin-block: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.contentButton {
    text-align: center;
    padding-block: 1em;
    width: 100%;
    min-width: 120px;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    font-size: 1.35em;
}

.contentButton:hover {
    border-radius: 0;
}

@media (max-width: 1200px) {
    .leftPanel {
        padding: 0.8em;
    }
}

@media (max-width: 1024px) {
    .leftPanel {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
    }

    .panelContent {
        flex-direction: row;
    }
}