:root {
    --background-color: #0C1531;
    --text-color: #fff;
    --accent-color: #060A17;
    --border-color: #0C1531;
}

body {
    display: flex;
    background: var(--background-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: .3s ease-out;
}

p, h1, h2, h3, span, pre, a {
    color: var(--text-color);
}

@media (max-width: 1024px) {
    body {
        flex-direction: column;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}