.ordersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 85%;
    height: 100vh;
    padding: 40px 40px 20px 40px;
}

.ordersTable {
    width: 100%;
    border-collapse: collapse;
}

.ordersTable th,
.ordersTable td {
    border: 1px solid var(--text-color);
    padding: 12px;
    text-align: left;
    color: var(--text-color);
    font-size: 14px;
}

.ordersTable th {
    position: sticky;
    top: 0;
    background-color: var(--accent-color);
    z-index: 10;
}

.refreshButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: var(--accent-color);
    color: var(--text-color);
    font-size: inherit;
    cursor: pointer;
}